.container {
    width: 1312px;
    margin: 0 auto;
}

@media (max-width: 1312px) {
    .container {
        width: 704px;
    }
}

@media (max-width: 704px) {
    .container {
        width: 320px;
    }
}