:root {
    --primary-black: #202020;
    --primary-blue: #0578FF;
    --primary-grey: #94b3d8;
    --bg-grey: #f5f5f5;
    --font-family: 'Poppins', sans-serif;

    --text-color-white: #fff;
    --text-color-dark: #202020;

}