.footer {
    padding: 64px 0;
    background-color: var(--primary-blue);
    color: var(--text-color-white);
    font-size: 16px;
}

.footer>div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer>div>div:first-child {
    display: flex;
    justify-content: space-between;
}

.footer .menu {
    display: flex;
    gap: 80px;
}

.footer .menu>div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer .menu h3 {
    font-size: 20px;
    font-weight: 600;
}

.footer .menu>div>div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer>div>div:last-child {
    font-weight: 600;
}

@media (max-width: 1312px) {
    .footer>div>div:first-child {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 704px) {
    .footer .menu {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
}